@using ForBiz.Models.Instagram;
@using Newtonsoft.Json;

@{
    ViewBag.Title = "Index";
}

@model InstagramVm


<div class="" id="Instagram">
    <div class="mdl-grid" style="max-width:900px">
        <!---->

        <dialog class="mdl-dialog" ref="UpdatePersonDialog" v-if="true">
            <h5 class="mdl-dialog__title">{{Dialog.Info}}</h5>
            <div class="mdl-dialog__content">

                <div v-mdl-textfield class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" v-model="Dialog.CurrPerson.Fio">
                    <label class="mdl-textfield__label">Fio...</label>
                </div>

                <div v-mdl-textfield class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" v-model="Dialog.CurrPerson.Url">
                    <label class="mdl-textfield__label">Url...</label>
                </div>

                <div v-mdl-textfield class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <label class="mdl-textfield__label">EndPoint</label>
                    <select class="mdl-textfield__input" v-model="Dialog.CurrPerson.EndPoint">
                        <option disabled value=""></option>
                        <option value="1">Instagram</option>
                        <option value="2">VK</option>
                        <option value="3">Email</option>
                    </select>
                </div>

            </div>
            <div class="mdl-dialog__actions">
                <button type="button" class="mdl-button remove" v-on:click="updateAndAddPerson()">{{Dialog.Info}}</button>
                <button type="button" class="mdl-button close" v-on:click="$refs.UpdatePersonDialog.close()">Отмена</button>
            </div>
        </dialog>

        <dialog class="mdl-dialog" ref="RemovePersonDialog">
            <h5 class="mdl-dialog__title">Удалить человека</h5>
            <div class="mdl-dialog__content">
                <p id="PersonNameDialog" v-html="Dialog.Info"> {{Dialog.Info}}</p>
            </div>
            <div class="mdl-dialog__actions">
                <button type="button" class="mdl-button remove" v-on:click="removePerson(Dialog.CurrPerson)">Да</button>
                <button type="button" class="mdl-button close" v-on:click="$refs.RemovePersonDialog.close()">Нет</button>
            </div>
        </dialog>

        <!---->

        <div class="mdl-cell--12-col">
            <div v-show="DialogFind.View" class="mdl-shadow--2dp" style="padding:10px">
                <div v-mdl-textfield class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="max-width: 250px;" >
                    <input class="mdl-textfield__input" type="text" v-model="DialogFind.Fio">
                    <label class="mdl-textfield__label">Fio...</label>
                </div>
                <div v-mdl-textfield class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="max-width: 250px;" >
                    <input class="mdl-textfield__input" type="text" v-model="DialogFind.Url">
                    <label class="mdl-textfield__label">Url...</label>
                </div>
                <div v-mdl-textfield class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="max-width: 250px;" >
                    <label class="mdl-textfield__label">EndPoint</label>
                    <select class="mdl-textfield__input" v-model="DialogFind.EndPoint">
                        <option value=""></option>
                        <option value="1">Instagram</option>
                        <option value="2">VK</option>
                        <option value="3">Email</option>
                    </select>
                </div></br>
                <button class="mdl-button mdl-js-button mdl-shadow--2dp" v-on:click="find(1)">Поиск</button>
                <button class="mdl-button mdl-js-button mdl-shadow--2dp" v-on:click="dialogFindClear()">Очистить поля</button>
            </div>
        </div>

        <div class="mdl-cell--12-col ">


            <label class="mdl-button mdl-js-button mdl-button--icon" style="float: right; margin-right: 8px;"
                   v-on:click="dialogFindView(DialogFind.View)">
                <i class="material-icons">search</i>
            </label>

            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
               style="float: right; margin-right: 8px;" v-on:click="addPersonDialog">
                <i class="material-icons">person_add</i>
                ADD PERSON
            </a>

            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width:100%">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">ФИО</th>
                        <th>URL</th>
                        <th>EndPoint</th>
                        <th>TimeStamp</th>
                        <th>options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in Persons">
                        <td class="mdl-data-table__cell--non-numeric">{{item.Fio}}</td>
                        <td>{{item.Url}}</td>
                        <td>{{item.EndPoint | endPointFilter}}</td>
                        <td>{{item.TimeStamp | formatDate}}</td>
                        <td>
                            <button class="mdl-button mdl-js-button mdl-button--icon" v-on:click="removePersonDialog(item)">
                                <i class="material-icons">remove</i>
                            </button>

                            <button class="mdl-button mdl-js-button mdl-button--icon" v-on:click="updatePersonDialog(item)">
                                <i class="material-icons">update</i>
                            </button>

                        </td>
                    </tr>

                    @(Html.Partial("Pagination-vue-template"))

                </tbody>
            </table>
        </div>

    </div>
</div>

<script src="~/Content/develop/Views/Instagram.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        var insta = new Instagram(
            @(Html.Raw(JsonConvert.SerializeObject(Model.Page.Items))),
            @(Html.Raw(JsonConvert.SerializeObject(Model.Page.Pagination))));
    });

</script>

